
*.lck
KiCad/Motion controller MiYR interface/fp-info-cache
*.lck
KiCad/Motion controller MiYR interface/~Motion controller MiYR interface.kicad_pcb.lck
/KiCad/DB25 encoder card/DB25 encoder card-backups
/KiCad/fanuc rj3ib encoder breakout/fanuc rj3ib encoder breakout/fanuc rj3ib encoder breakout-backups
/KiCad/Motion controller MiYR interface/Motion controller MiYR interface-backups
/KiCad/Mezzanine Backplane/Mezzanine Backplane/Mezzanine Backplane-backups
/KiCad/Mezzanine jumper/Mezzanine jumper-backups
/KiCad/Modular MiYR interface/Modular MiYR interface/Modular MiYR interface-backups
KiCad/Modular MiYR interface/Modular MiYR interface/\#auto_saved_files\#
KiCad/Motion controller MiYR interface/\#auto_saved_files\#
/KiCad/16x Card Module/16x Card Module-backups
/KiCad/Main Mezzanine Backplane/Main Mezzanine Backplane-backups
/KiCad/Mezzanine Backplane/Mezzanine Backplane-backups
/KiCad/Mezzanine Jumper up16/Mezzanine Jumper up16-backups
/KiCad/Mezzanine Jumper up16/Mezzanine jumper-backups
/KiCad/Modular MiYR interface/Modular MiYR interface-backups
*.lck
/Inventor
/manufacturing/Inventor
manufacturing/Inventor/mys-7z01020-v2-v10_asm-1230.ipt
KiCad/Serial Module/fp-lib-table
KiCad/Serial Module/fp-info-cache
/KiCad/Serial Module/Serial Module-backups
